ion-content {
background: linear-gradient(to right, #d9a7c7, #fffcdc);
}

h2{
  color: #2C5364;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

p{
  color: #2C5364;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
}